.todolist{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    border:grey solid 1px;
}

.todolist .task{
    margin: 2px;
    padding: 6px;
}
.todolist .task:hover{
    background-color: lightgray;
}
.todolist .task .delete{
    float: right;
    color: red;
    cursor: pointer;
    display: none;
}
.todolist .task:hover .delete{
    display: inline-block;
}

.todolist .task.done{
    text-decoration: line-through;
}



.todolist .todolist-footer{
    display: flex;
    margin-top: 10px;
}
.todolist .todolist-footer div {
    padding: 3px ;
}

.todolist .todolist-footer .buttons button.active {
    border: 2px solid black ;
}
